.ts-wrapper {
    display: inline-block;
	scale: 84%;
}

.ts-toggle {
    display: none;
}

.ts-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70px;
    height: 34px;
    background: #eee;
    border-radius: 34px;
    cursor: pointer;
    transition: background .4s;
    padding: 0 8px;
    box-sizing: border-box;
}

.ts-slider {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 26px;
    height: 26px;
    background: #fff;
    border-radius: 50%;
    transition: transform .4s;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    pointer-events: none;
    z-index: 2;
}

.ts-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    opacity: 0;
    transition: opacity .4s;
    z-index: 1;
}

.ts-sun {
    opacity: 1;
}

.ts-icon svg {
    width: 20px;
    height: 20px;
    color: #000; /* czarny w trybie jasnym */
}

.ts-toggle:checked + .ts-label {
    background: #000;
}

.ts-toggle:checked + .ts-label .ts-slider {
    transform: translateX(36px);
}

.ts-toggle:checked + .ts-label .ts-sun {
    opacity: 0;
}

.ts-toggle:checked + .ts-label .ts-moon {
    opacity: 1;
}

.ts-toggle:checked + .ts-label .ts-icon svg {
    color: #fff; /* biały w trybie ciemnym – lepszy kontrast */

}
